{# Site footer – edit this single file to update the footer on all pages #}
<footer id="woodstore-footer">
    <div class="container">
        <div class="row g-4">
            {# Contact channels #}
            <div class="col-12 col-md-4">
                <h6 class="footer-heading">{{ trans('footer-contact') }}</h6>
                <ul class="footer-list">
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+34900000000">+34 900 000 000</a>
                    </li>
                    <li>
                        <i class="fa-brands fa-whatsapp"></i>
                        <a href="https://wa.me/34600000000" target="_blank" rel="noopener">+34 600 000 000</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                </ul>
            </div>

            {# Address #}
            <div class="col-12 col-md-4">
                <h6 class="footer-heading">{{ trans('footer-address') }}</h6>
                <address class="footer-address">
                    <i class="fa-solid fa-location-dot"></i>
                    Calle Ejemplo 123<br>
                    00000 Ciudad, Provincia<br>
                    España
                </address>
            </div>

            {# Quick links #}
            <div class="col-12 col-md-4">
                <h6 class="footer-heading">{{ trans('footer-links') }}</h6>
                <ul class="footer-list">
                    <li><a href="{{ asset('Tableros') }}">{{ trans('products') }}</a></li>
                    <li><a href="{{ asset('Presupuesto') }}">{{ trans('presupuesto') }}</a></li>
                </ul>
            </div>
        </div>

        <hr class="footer-divider">

        <div class="text-center small footer-copy">
            &copy; {{ "now" | date("Y") }} Yevea. {{ trans('footer-rights') }}
        </div>
    </div>
</footer>
